.bottom__section {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .pagination {
    display: flex;
    margin-top: 30px;

    li {
      list-style: none;

      a {
        padding: 8px 12px;
        margin: 0 5px;
        background: transparent;
        color: white;
        border: 1px solid white;
        text-decoration: none;
        transition: all 0.3s;
        cursor: pointer;

        &:hover {
          background: white;
          color: black;
        }
      }
    }
  }

  .personperpage_section {
    display: flex;
    align-items: center;
    margin-right: 30px;

    h5 {
      color: white;
      font-size: 16px;
      font-weight: 600;
    }

    #personperpages {
      margin-left: 8px;
      border-radius: 4px;
      border: none;
      padding: 4px;
      cursor: pointer;
    }
  }
}
