.addform {
  margin: 30px 0;

  &__form {
    display: flex;
    justify-content: space-between;

    input {
      width: 250px;
      border: none;
      border-radius: 8px;
      padding: 0.3rem 0.5rem;
    }
  }
}
