.header {
  height: 4rem;

  .container {
    height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid whitesmoke;
  }
}

.sort_section {
  display: flex;
  justify-content: center;
  align-items: center;

  border: 1px solid white;
  border-radius: 6px;
  color: white;
  padding: 0 10px;

  height: 40px;
}
